/*CSS Document 2 */
html
{
	overflow:hidden;
}
body 
{
	background-color:gray;
	height:100%;
	font-size:12px;
	margin:0px;
	overflow:hidden;
}
a
{
	text-decoration:none;
	
}
a:hover
{
	text-decoration:underline;
	color:white;
}
#left
{
	position:absolute;
	height:100%;
	float:left;
	clear:left;
	color:black;
	width:25%;
	background-color:orange;
	overflow-y:auto;
	height:100%;
}
#right
{
	font-size:16px;
	left:25%;
	width:75%;
	clear:right;
	background-color:gray;
	color:white;
	overflow-y:auto;
	height:100%;
	position:absolute;
}
#list
{
	padding:10px;
}
#main
{
	padding:10px;
}
#jjj,#jjj a,#jjj a:hover
{
	position:absolute;
	left:25%;
	top:1px;
	background-color:white;
	text-decoration:none;
}
